

<%= content_for :grands_combats do -%>

<div class="container">
	<ul id="combats-officiels" class="jcarousel-skin-tango fiche_combat">
		<% @combats_officiels.each do |combat| %>
			<li>
				<%= render :partial => 'galas/fiche_combat', :locals =>  {:combat => combat} %>
			</li>
		<% end %>		
	</ul>
</div>
	
<% end -%>

<hr />
	<h1 class="page-title">L'actualité de la lutte sénégalaise</h1>
<hr />	
<section>
  	
  <div class="row">
    <div class="span4">
      <h2>Prochains combats</h2>
    </div>
    <div class="span4">
      <h2>Publicité</h2>
    </div>    
    <div class="span4">
      <h2>Derniers Verdicts</h2>
      <ul>
      <%# @recent_combats.each do |combat| -%>
       <!--  <li class="line">
          <%#= combat.champion %> | <%#= combat.challenger %>
        </li> -->
      <%# end -%>
      </ul> 
    </div>
  </div>
  
</section>
